div.student-details{
  display:block;
  border:1px solid black;
  margin:2%;
}
div.student-details > div{
  padding:2%;
}

div.student-details-header,
div.student-details-email,
div.student-details-mobile,
student-details-percentage,
div.student-details-footer{
  text-align: center;
}
div.student-details-info{
  display: flex;
  justify-content: space-between;
}
