header{
  width: 100%;
  padding: 2%;
  display: flex;
  background-color: royalblue;
  color:white;
}

header > a {
  flex:1;
  color:white;
}

header > nav{
  flex:3;
  display: flex;
  justify-content: flex-end;
}

header > nav > ul {
  display: flex;
  list-style-type: none;
  flex:1;
  justify-content: flex-end;
}

header > nav > ul > li{
  flex-basis: 20%;
}
header > nav > ul > li > a{
  color:white;
}
